* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 100%; }

a {
  text-decoration: none; }

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../images/header/bgimage-small.jpg) center/cover no-repeat;
  color: #fff;
  font-family: "Montserrat", sans-serif; }
  @media screen and (min-width: 768px) {
    .header {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../images/header/bgimage.jpg) center/cover no-repeat; } }

.header__width {
  max-width: 954px;
  margin: 0 auto;
  width: 100%; }

.header__nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4.8%; }
  @media screen and (min-width: 768px) {
    .header__nav {
      justify-content: space-between; } }

.header__list {
  display: none;
  list-style-type: none; }
  @media screen and (min-width: 768px) {
    .header__list {
      display: flex;
      justify-content: space-between;
      max-width: 480px;
      width: 100%;
      margin-right: 5px; } }

.header__item {
  position: relative; }

@media screen and (min-width: 768px) {
  .header__item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; } }

@media screen and (min-width: 768px) {
  .header__item:hover:before {
    visibility: visible;
    transform: scaleX(1); } }

.header__link {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0.2em; }

.header__logo {
  margin-left: 15px; }

#menu-toggle {
  display: none; }
  @media screen and (max-width: 768px) {
    #menu-toggle:checked ~ .header__list {
      display: block;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 7%; } }
  @media screen and (max-width: 768px) {
    #menu-toggle:not(:checked) ~ .header__list {
      display: none; } }

.header__toggle {
  font-size: 1.5em; }
  @media screen and (min-width: 768px) {
    .header__toggle {
      display: none; } }

.header__slogan {
  margin: 20% auto 4.3% auto;
  padding: 0 2% 0 2%;
  text-align: center; }

.header__greet {
  text-transform: capitalize;
  font-family: "droid-serif", serif;
  font-size: 2.8em;
  font-style: italic;
  margin-bottom: 2.3%; }

.header__heading {
  text-transform: uppercase;
  font-size: 4.688em;
  font-weight: 700;
  word-spacing: -5px; }

.header__wrapper-btn {
  display: flex;
  margin: 0 auto;
  max-width: 18.750em;
  width: 100%;
  justify-content: center;
  padding-bottom: 17.3%; }

.header__btn {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  background-color: #fed136;
  padding: 1.3em 3.6em;
  border-radius: 0.3em; }

.services {
  padding-top: 8%;
  padding-bottom: 7.3%;
  font-family: "Montserrat", sans-serif;
  max-width: 954px;
  margin: 0 auto;
  width: 100%; }

.services__heading {
  padding-bottom: 0.6%;
  text-align: center;
  font-size: 2.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.services__types {
  display: flex;
  flex-wrap: wrap;
  text-align: center; }

.services__col {
  margin-top: 8.5%;
  padding: 0 1em 0 1em;
  flex: 1 1 auto; }
  @media screen and (min-width: 768px) {
    .services__col {
      flex: 0 0 33.33%; } }

.services__main-paragraph {
  text-align: center;
  font-size: 1em;
  font-family: "droid-serif", serif;
  font-style: italic;
  color: #777777; }

.services__col-paragraph {
  margin-top: 4%;
  font-size: 0.875em;
  font-family: "Roboto Slab", serif;
  color: #777777; }

.services__icon {
  margin-bottom: 7.5%;
  display: inline-block;
  width: 68px;
  height: 67px;
  line-height: 5.6;
  border: 3px solid #fed136;
  border-radius: 50%; }

.portfolio {
  padding: 8% 0 5% 0;
  background-color: #f7f7f7; }

.portfolio__heading {
  padding-bottom: 0.6%;
  text-align: center;
  font-size: 2.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.portfolio__main-paragraph {
  text-align: center;
  font-size: 1em;
  font-family: "droid-serif", serif;
  font-style: italic;
  color: #777777; }

.portfolio__projects {
  padding-top: 5.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  max-width: 954px;
  margin: 0 auto;
  width: 100%; }
  @media screen and (min-width: 896px) {
    .portfolio__projects {
      justify-content: space-between; } }

.portfolio__col {
  max-width: 291px;
  margin-bottom: 5.2%;
  background-color: #fff; }

.portfolio__col-heading {
  padding-top: 7%;
  font-size: 1.125em;
  font-family: "Montserrat", sans-serif;
  color: #333333; }

.portfolio__col-paragraph {
  padding-bottom: 10%;
  font-size: 0.875em;
  font-family: "droid-serif", serif;
  font-style: italic;
  color: #737373; }

.about-us {
  padding: 8.5% 0 5% 0; }

.about-us__wrapper {
  max-width: 954px;
  margin: 0 auto;
  width: 100%; }

.about-us__heading {
  padding-bottom: 0.6%;
  text-align: center;
  font-size: 2.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.about-us__main-paragraph {
  text-align: center;
  font-size: 1em;
  font-family: "droid-serif", serif;
  font-style: italic;
  color: #777777;
  padding-top: 0.3%; }

.about-us__images-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 8.3%; }

.about-us__figure {
  display: none; }
  @media screen and (min-width: 768px) {
    .about-us__figure {
      display: block; } }

.about-us__line {
  display: none; }
  @media screen and (min-width: 896px) {
    .about-us__line {
      display: block;
      height: 94px;
      width: 3px;
      background-color: #f1f1f1; } }

.about-us__image {
  display: block;
  border: 7px solid #f1f1f1;
  border-radius: 50%; }

.about-us__image--last {
  border: none; }

.about-us__date {
  text-transform: uppercase;
  padding-bottom: 1%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.125em; }

.about-us__title {
  text-transform: capitalize;
  padding-bottom: 3%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.125em; }

.about-us__story {
  padding-top: 0.5%;
  font-family: "Roboto Slab", serif;
  color: #777777;
  font-size: 0.875em; }

.about-us__text-one {
  padding: 2em; }
  @media screen and (min-width: 896px) {
    .about-us__text-one {
      position: absolute;
      bottom: 82.8%;
      left: 3.8%;
      max-width: 307px;
      width: 100%;
      text-align: right; } }

.about-us__text-two {
  padding: 2em; }
  @media screen and (min-width: 896px) {
    .about-us__text-two {
      position: absolute;
      bottom: 62.5%;
      left: 63.8%;
      max-width: 307px;
      width: 100%;
      text-align: left; } }

.about-us__text-three {
  padding: 2em; }
  @media screen and (min-width: 896px) {
    .about-us__text-three {
      position: absolute;
      bottom: 42.4%;
      left: 3.8%;
      max-width: 307px;
      width: 100%;
      text-align: right; } }

.about-us__text-four {
  padding: 2em; }
  @media screen and (min-width: 896px) {
    .about-us__text-four {
      position: absolute;
      bottom: 22.3%;
      left: 63.8%;
      max-width: 307px;
      width: 100%;
      text-align: left; } }

.about-us__last-circle {
  display: none; }
  @media screen and (min-width: 768px) {
    .about-us__last-circle {
      display: block;
      padding-top: 3.6%;
      width: 183px;
      height: 182px;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      line-height: 1.4;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
      background-color: #FBD032;
      border: 7px solid #f1f1f1;
      border-radius: 50%;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 1.125em; } }

.team {
  padding: 8% 0 5% 0;
  background-color: #f7f7f7; }

.team__heading {
  padding-bottom: 0.6%;
  text-align: center;
  font-size: 2.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.team__main-paragraph {
  text-align: center;
  font-size: 1em;
  font-family: "droid-serif", serif;
  font-style: italic;
  color: #777777; }
