.about-us {
  padding: 8% 6% 8.3% 6%;
  max-width: 88rem;
  width: 100%;
  margin: 0 auto;
}

.about-us__heading {
  @include section-heading;
}

.about-us__main-paragraph {
  @include paragraph-under-main-heading;
  padding: 0.3% 0 6.5% 0;
}

.about-us__timeline {
  position: relative;
  // @include section-width;
  &::after {
    display: none;
    @include respond-to(medium) {
      display: block;
      content: '';
      position: absolute;
      width: 3px;
      background-color: #f1f1f1;
      top: 0;
      bottom: 0;
      left: 100px;
      z-index: -1;
    }
    @include respond-to(rwd-timeline) {
      left: 50%;
    }
  }
}

.about-us__left,
.about-us__right {
  position: relative;
  width: 100%;
  left: 0;
  @include respond-to(rwd-timeline) {
    width: 50%;
  }
}

.about-us__left {
  @include respond-to(rwd-timeline) {
    left: 0;
  }
}

.about-us__right {
  @include respond-to(rwd-timeline) {
    left: 50%;
  }
}

// TEXT
.about-us__date {
  text-transform: uppercase;
  padding-bottom: 1%;
  @include about-us-text
}

.about-us__title {
  text-transform: capitalize;
  padding-bottom: 3%;
  @include about-us-text
}

.about-us__story {
  padding-top: 0.5%;
  font: 0.875rem $font-paragraphs;
  color: $color-paragraph;
}

.about-us__content-left,
.about-us__content-right {
  @include respond-to(medium) {
    margin-left: 210px;
    padding-top: 18px;
  }
}

.about-us__content-left {
  @include respond-to(rwd-timeline) {
    margin-left: 0;
    padding-top: 0;
    padding-right: 23%;
    text-align: right;
  }
}

.about-us__content-right {
  @include respond-to(rwd-timeline) {
    margin-left: 0;
    padding-top: 0;
    padding-left: 23%;
  }

}

.about-us__content-right,
.about-us__content-left--two {
  margin-top: 5%;
  @include respond-to(medium) {
    margin-top: 14.5%;
  }
  @include respond-to(rwd-timeline) {
    margin-top: 24.5%;
  }
}

// IMAGES
.about-us__left--one,
.about-us__left--two,
.about-us__right--one,
.about-us__right--two {
  &::after {
    display: none;
    @include respond-to(medium) {
      display: block;
      position: absolute;
      top: -1px;
      left: 10px;
    }
  }
}

.about-us__left--one,
.about-us__left--two {
  &::after {
    @include respond-to(rwd-timeline) {
      right: -93px;
      left: unset;
    }
  }
}

.about-us__right--one,
.about-us__right--two {
  &::after {
    @include respond-to(rwd-timeline) {
      left: -90px;
    }
  }
}

.about-us__left--one {
  &::after {
    content: url('../images/about_us/Image1.png');
  }
}

.about-us__right--one {
  &::after {
    content: url('../images/about_us/Image2.png');
  }
}

.about-us__left--two {
  &::after {
    content: url('../images/about_us/Image3.png');
  }
}

.about-us__right--two {
  &::after {
    content: url('../images/about_us/Image4.png');
  }
}

// LAST CIRCLE
.about-us__last-circle {
  display: none;
  @include respond-to(medium) {
    display: block;
    position: relative;
    padding-top: 3%;
    margin: 120px 0 0 10px;
    width: 183px;
    height: 182px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    background-color: #FBD032;
    border: 7px solid #f1f1f1;
    border-radius: 50%;
    @include about-us-text;
    line-height: 1.5;
  }
  @include respond-to(rwd-timeline) {
    margin: 0 auto;
    margin-top: 11.5%;
  }
}