.collaborate {
  padding: 4.3% 2% 4.5% 2%;
  @include section-width;

}

.collaborate__icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  @include respond-to(medium) {
    justify-content: space-between;
  }
}

.collaborate__icon {
  margin: 0.5em;
  @include respond-to(medium) {
    margin: 0;
  }
}