.footer {
  display: flex;
  flex-direction: column-reverse;
  padding: 1.6% 0 2% 0;
  @include section-width;
  @include respond-to(medium) {
    display: block;
    position: relative;
  }
}

.footer__copyright {
  display: block;
  text-align: center;
  padding: 1% 0 1% 0;
  font: 0.830rem $font-main;
  color: #555;
  font-weight: 700;
  @include respond-to(medium) {
    display: inline-block;
  }
}

.footer__social {
  text-align: center;
  padding: 1% 0 1% 0;
  max-width: 100%;
  @include respond-to(medium) {
    padding: 0;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}

.footer__social-link {
  @include respond-to(medium) {
    padding: 0 2% 0 2%;
  }
}

.footer__social-logo {
  line-height: 2.3;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  @include social-icon-circle;
}