// MEDIA
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'medium-large': 896px,
  'large': 1200px
);

@mixin respond-to($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

// OTHER

@mixin link-style {
  text-decoration: none;
  color: inherit;
}

@mixin section-width {
  max-width: 59.63rem;
  margin: 0 auto;
  width: 100%;
}

@mixin section-heading {
  padding-bottom: 0.6%;
  text-align: center;
  font: 2.5rem $font-main;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin paragraph-under-main-heading {
  text-align: center;
  font: italic 1.13rem $font-secondary;
  color: $color-paragraph;
}

@mixin about-us-text {
  font: 1.125rem $font-main;
  font-weight: 700;
}

@mixin button-big {
  text-transform: uppercase;
  background-color: #fed136;
  border-radius: 3px;
  border: none;
  font: 1.125rem $font-main;
  font-weight: 700;
  color: #fff;
}

@mixin input-placeholder {
  font-weight: 700;
  font-size: 0.875rem;
  color: #bbb;
}