.services {
  padding: 8.2% 0 6.7% 0;
  font-family: $font-main;
  @include section-width;
}

.services__heading {
  @include section-heading;
}

.services__types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.services__col {
  flex: 1 1 auto;
  padding: 0 2% 0 2%;
  @include respond-to(medium) {
    flex: 0 0 33.33%;
  }
}

.services__main-paragraph {
  @include paragraph-under-main-heading;
  margin-bottom: 6.4%;
}

.services__col-heading {
  margin: 1.3rem 0 0.6rem 0;
}

.services__col-paragraph {
  font: 0.875rem $font-paragraphs;
  color: $color-paragraph;
  margin-bottom: 2rem;
}

.services__icon {
  // display: inline-block;
  margin: 0 auto;
  width: 72px;
  height: 71px;
  border: 3px solid #fed136;
  border-radius: 50%;
}

.services__icon-logo {
  margin-top: 20%;
}