.services {
  padding-top: 8%;
  padding-bottom: 7.3%;
  font-family: $font-main;
  @include section-width;
}

.services__heading {
  @include section-heading;
}

.services__types {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.services__col {
  margin-top: 8.5%;
  padding: 0 1em 0 1em;
  flex: 1 1 auto;
  @include respond-to(medium) {
    flex: 0 0 33.33%;
  }
}

.services__main-paragraph {
  @include paragraph-under-main-heading;
}

.services__col-paragraph {
  margin-top: 4%;
  font-size: 0.875em;
  font-family: $font-paragraphs;
  color: $color-paragraph;
}

.services__icon {
  margin-bottom: 7.5%;
  display: inline-block;
  width: 68px;
  height: 67px;
  line-height: 5.6;
  border: 3px solid #fed136;
  border-radius: 50%;
}