.team {
  padding: 8.1% 2% 9.1% 2%;
  background-color: #f7f7f7;
}

.team__heading {
  @include section-heading;
}

.team__main-paragraph {
  @include paragraph-under-main-heading;
}

.team__members {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding-top: 2.3%;
  max-width: 62.5rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  @include respond-to(medium) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.team__member {
  padding-top: 5%;
}

.team__name {
  padding: 5% 0 2% 0;
  font-family: $font-main;
  font-weight: 700;
}

.team__job {
  padding-bottom: 3%;
  font: 0.875rem $font-paragraphs;
  color: $color-paragraph;
}

.team__social-logo {
  border: 3px solid black;
  line-height: 2;
  color: #000;
  // to make icon thicker
  -webkit-text-stroke: 0.5px #000;
  font-size: 1.1rem;
  @include social-icon-circle;
}

.team__social-link {
  margin: 0 0.2rem 0 0.2rem;
}

.team__social-logo--twitter {
  @include respond-to(medium) {
    &:hover {
      color: #0084b4;
      border-color: #0084b4;
      -webkit-text-stroke: 0.5px #0084b4;
    }
  }
}

.team__social-logo--fb {
  @include respond-to(medium) {
    &:hover {
      color: #3B5998;
      border-color: #3B5998;
      -webkit-text-stroke: 0.5px #3B5998;
    }
  }
}

.team__social-logo--google-plus {
  @include respond-to(medium) {
    &:hover {
      color: #d34836;
      border-color: #d34836;
      -webkit-text-stroke: 0.5px #d34836;
    }
  }
}

.team__social-logo--pinterest {
  @include respond-to(medium) {
    &:hover {
      color: #CB1F27;
      border-color: #CB1F27;
      -webkit-text-stroke: 0.5px #CB1F27;
    }
  }
}

.team__paragraph {
  padding-top: 3.5%;
  text-align: center;
  font-family: $font-paragraphs;
  color: $color-paragraph;
}