// GLOBAL

$font-main: 'Montserrat', sans-serif;
$font-secondary: 'font-heading', serif;
$font-paragraphs: 'Roboto Slab', serif;
$color-paragraph: #777777;

// CHANGE DROID WITH FONT FACE!
// STANDARDIZE UNITS REM PX %
