// GLOBAL

$font-main: 'Montserrat', sans-serif;
$font-secondary: 'font-heading', serif;
$font-paragraphs: 'Roboto Slab', serif;
$color-paragraph: #777;
$color-white: #fff;
$color-background-portfolio-team: #f7f7f7;
$color-twitter: #0084b4;
$color-fb: #3B5998;
$color-google-plus: #d34836;
$color-pinterest: #CB1F27;

// STANDARDIZE UNITS REM PX %
