// GLOBAL

$font-main: 'Montserrat', sans-serif;
$font-secondary: 'droid-serif', serif;
$font-paragraphs: 'Roboto Slab', serif;
$color-paragraph: #777777;


// HEADER
// usunąć bo do niczego nie potrzebne!!!
$color-header: #fff;
$color-button: #fff;