//  IMPORT MIXINS

@import 'variables';
@import 'mixins';

// GLOBAL

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @include respond-to(small) {
    font-size: calc(14px + 2 * ((100vw - 320px) / 448));
  }

  @include respond-to(medium) {
    font-size: 100%;
  }
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'font-heading';
  src: url('../web-fonts/DroidSerif-Regular-webfont.woff') format('woff');
}

// IMPORT SECTIONS

@import 'header';
@import 'services';
@import 'portfolio';
@import 'aboutUs';
@import 'team';
@import 'collaborate';
@import 'contact';
@import 'footer';
