//  IMPORT MIXINS

@import 'mixins';
@import 'variables';

// GLOBAL

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;;
}

a {
  text-decoration: none;
}

// IMPORT SECTIONS

@import 'header';
@import 'services';
@import 'portfolio';
@import 'aboutUs';
@import 'team';