// MEDIA
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1200px
);

@mixin respond-to($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

// OTHER

@mixin link-style() {
  text-decoration: none;
  color: inherit;
}

@mixin sections-width() {
  max-width: 953px;
  margin: 0 auto;
  width: 100%;
}

