// MEDIA-VAR

$media-small: 'screen and (min-width: 320px)';
$media-medium: 'screen and (min-width: 768px)';
$media-large: 'screen and (min-width: 1200px)';

// FONT-VAR

$font-main: 'Montserrat', sans-serif;
$font-snd: 'Droid Serif', serif;

// MIXINS

@mixin link-style() {
  text-decoration: none;
  color: inherit;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

// IMPORT

@import 'header';